<div class="col-12 d-block justify-content-center align-items-center" id="home">
    <img src="images/madrid.jpg" class="img-fluid" alt="Responsive image">
    <h1>¡Welcome to Encuéntralo!</h1>
    ¿Cuántas veces hemos perdido algo y no sabemos qué hacer para encontrarlo? ¿Cuántas veces hemos encontrado
    algo y no sabemos bien dónde podemos devolverlo?
    <h6>¡Ahora puedes, con Encuéntralo!</h6>

    <h3>¿Quiénes somos?</h3>
    Somos una oficina integral de objetos perdidos en la red que nace
    para que, de forma rápida, sencilla y totalmente gratuita puedas registrar los objetos que hayas perdido o
    encontrado en la Comunidad de Madrid.
</div>
