   <h1>¿Eres nuevo en nuestra app?</h1>
      </div>
      <div class="col-12 d-flex resultado justify-content-center align-items-center">
        <form class="form-group" method="post" action="/usuarios/guardar" style="display:grid">
          <h4>Regístrate como usuario nuevo:</h4>
          <input name="nombre" id="nombre" placeholder="nombre" value="{{nombre}}" class="form-control"> <br>

          <input name="emailMal" id="email" placeholder="email" value="{{email}}" class="form-control"><br>

          <input name="password" id="password" placeholder="password" class="form-control"> <br>

          <input type="submit" class="btn btn-outline-primary" value="Guardar">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          {{#if mensaje}}
            <div class="alert alert-primary" role="alert">
              {{mensaje}}
            </div>
          {{/if}}
        </div>
    </div>

     