{{#each objetosPerdidos}}
<div class="col-6">
    <div class="row">
        <div class="col-4">
            <img src="{{foto}}" style="width: 100%;" alt="foto">
        </div>
        <div class="col-8">
            <div>{{titulo}}</div>
            <div>{{descripcion}}</div>
        </div>
    </div>
</div>
{{/each}}