<div class="container">
    <div class="row">
        <div class="col-12 d-flex  justify-content-center">
            <h1>Listado de objetos</h1>
        </div>
         <div class="col-12 justify-content-center">
            <h6>Filtrar por título</h6>
            <input type="text" id="filtro" name="filtro">
            <button class="btn btn-outline-dark" id="filtrar">Filtrar</button>
        </div>
        {{#each objetosPerdidos}}
        <div class="row">
            <div class="col-12 d-flex resultado justify-content-center align-items-center" style="margin: 5px;">
                <div class="card-group">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/{{foto}}" alt="Card image cap" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{titulo}}</h5>
                            <p class="card-text">{{descripcion}}</p>
                            <a href="#" class="btn btn-outline-success">Solicitar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script>
    filtrar.onclick=()=>{
        let filtro=document.querySelector('#filtro')
        console.log('has pulsado filtrar')
        console.log('Has escrito', filtro.value)
        fetch('/objetos/filtrar', {
            method:'post',
            body: JSON.stringify({titulo:filtro.value}),
            headers: {'Content-Type': 'application/json'}
        }).then(res=>res.json())
            .then(listado=>mostrarResultados(listado))
    }

    function mostrarResultados(listado){
        //limpiar el contenedor
        listado.forEach(elem=>{
        //hacemos un bucle del array listado mostrando los objetos

        })
    }
</script>